<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <center>
        <a href="registerEmployee.html">
            <button>Register Employee</button>
        </a>
        <br>

        <a href="updateEmployee.html">
            <button>Update Employee</button>
        </a>
        <br>

        <a href="deleteEmployee.html">
            <button>Delete Employee</button>
        </a>
        <br>

        <a href="searchEmployee.html">
            <button>Search Employee</button>
        </a>
        <br>

    </center>
</body>
</html>